.page-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.flex-list {
    display: flex;
    flex-direction: column;
}

.flex-list > * {
    flex: 1 1;
}