mdl-list-item:hover {
    background: lightgray;
}

.fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

mdl-list-item-sub-title {
    overflow-x: auto;
    text-overflow: ellipsis;
}

.mdl-dialog__actions {
    padding-left: 8px;
    flex-wrap: nowrap;
}